*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    font-weight: 900;
    
}

.contenitore{
    width: 100%;
    margin: 0 auto;
} 


/* inizio nav */

#menu{
    position: fixed;
    display: inline-block;
    top: 10%;
    right: 0;
    margin-right: 2%;
    z-index: 1;
}
    
    
#menu nav li{
    display: inline-block;
}
    


#menu nav li a{
    background-color: white;
    padding: 20px 30px;
    border-radius: 50%;
    text-decoration: none;
    margin: 15px;
    font-size: 20px;
    
}
  
li a:hover{
    color: rgb(0, 209, 216);
    box-shadow: 3px 5px #21a8d1;
    
}
/* fine nav */


/* pagine generale */
.box1{
    width: 100%;
    height: 100vh;
    background-color: red;
    position: relative;
}

.box2{
    width: 100%;
    height: 100vh;
    background-color: green;
    position: relative;
}

.box3{
    width: 100%;
    height: 100vh;
    background-color:yellow;
    position: relative;
}


/* immagine e scritta */

.img-scarpa{
    width: 50%;
    position: absolute;
    left: 50%; 
    top: 45%; 
    transform: translate(-50%, -50%);
}
    
.scritta-gialla{
    color: yellow;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    text-transform: uppercase;
    top:80%;
    left:55%;
    transform: translate(-70%, -50%);
    text-shadow: 3px 3px gray;
}

.scritta-verde{
    color:green;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    text-transform: uppercase;
    top:80%;
    left:55%;
    transform: translate(-70%, -50%);
    text-shadow: 3px 3px gray;
}


    
  
    
    

   
    
  
   
    
    

    



